<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>MoveON - Timeline</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/estilo.css")" rel="stylesheet" />    
</head>
<body>
    @Html.Partial("_MenuApplication")

    <div>
        <table align="center">
            <tr>
                <td>
                    <div class="bloco-atendimento">
                        <div class="atendimento-cabecalho">
                            <span>Teste Cab.</span>
                            <div class="atendimento-corpo urgente">
                                <span>Teste CORPO DO ATENDIMENTO</span>
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="bloco-atendimento">

                        <div class="atendimento-cabecalho">
                            <span>Teste Cab.</span>
                            <div class="atendimento-corpo">
                                <span>Teste CORPO DO ATENDIMENTO OASKOPASOKPAOKPAKOPKOSPA</span>
                                <br />
                                <div id="google-mapa">
                                    <span>mapa</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="bloco-atendimento">

                        <div class="atendimento-cabecalho">
                            <span>Teste Cab.</span>
                            <div class="atendimento-corpo urgente">
                                <span>Teste CORPO DO ATENDIMENTO</span>
                                <br />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>    
    <!-- Maps API Javascript -->
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyALY-9Js70qi543YtbtKwl8WUO8mgyTsqU&amp;sensor=false"></script>    
    <script type="text/javascript" src="@Url.Content("~/Scripts/MapaLocation.js")"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
</body>
</html>
