<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://moveoncity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>moveoncity.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>moveoncity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$moveoncity</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MoveOnCity_Context" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:moveoncitydb.database.windows.net,1433;Initial Catalog=moveoncity_db;User ID=wspa@moveoncitydb;Password=Fortec1533157" Name="Data Source=tcp:moveoncitydb.database.windows.net,1433;Initial Catalog=moveoncity_db;User Id=wspa@moveoncitydb;Password=Fortec1533157" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-M6CDA0D;Initial Catalog=MoveOnCity_DB;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MoveOnCity_Context_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=DESKTOP-M6CDA0D;Initial Catalog=MoveOnCity_DB;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MoveOnCity_Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:moveoncitydb.database.windows.net,1433;Initial Catalog=moveoncity_db;User Id=wspa@moveoncitydb;Password=Fortec1533157</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>